#### Types of functions

In [1]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/testdb

Connecting to 'postgresql://admin:***@db:5432/testdb'

Here is the list of functions in SQL

- Aggregate Functions
- String Functions
- Date and Time Functions
- Mathematical Functions
- Conditional Function
- Window/Analytical Functions

#### Aggregate Functions

| Function | Description                 | Example                              | Result                        |
|----------|-----------------------------|--------------------------------------|-------------------------------|
| COUNT()  | Returns the number of rows  | SELECT COUNT(*) FROM ex_employee;    | Total number of rows          |
| SUM()    | Returns the sum of a column | SELECT SUM(salary) FROM ex_employee; | Total Salary of all employees |
| AVG()    | Returns the average value   | SELECT AVG(salary) FROM ex_employee; | Average salary                |
| MAX()    | Returns the maxnimum value  | SELECT MAX(salary) FROM ex_employee; | Highest salary                |
| MIN()    | Returns the minimum value   | SELECT MIN(salary) FROM ex_employee; | Lowest salary                 |

In [2]:
%%sql
DROP TABLE IF EXISTS products;

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS products (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(100),
    category VARCHAR(50),
    price NUMERIC(10, 2),
    quantity INT,
    added_date DATE,
    discount_rate NUMERIC(5, 2)
);

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [4]:
%%sql
INSERT INTO products (product_name, category, price, quantity, added_date, discount_rate) VALUES
('Laptop', 'Electronics', 70000.50, 10, '2025-01-15', 10.00),
('Smartphone', 'Electronics', 45000.99, 25, '2025-02-20', 5.00),
('Headphones', 'Accessories', 1500.75, 50, '2025-03-05', 15.00),
('Office Chair', 'Furniture', 5500.00, 20, '2024-12-01', 20.00),
('Desk', 'Furniture', 8000, 15, '2024-11-20', 12.00),
('Monitor', 'Electronics', 12000.50, 8, '2025-01-10', 8.00),
('Printer', 'Electronics', 9500.50, 5, '2025-02-01', 7.50),
('Mouse', 'Accessories', 750.00, 40, '2025-03-18', 10.00),
('Keyboard', 'Accessories', 1250.00, 35, '2025-03-18', 10.00),
('Tablet', 'Electronics', 30000.50, 12, '2025-02-28', 5.00);

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

++
||
++
++

In [5]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [6]:
%%sql
SELECT SUM(quantity) AS total_quantity FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| total_quantity |
+----------------+
|      220       |
+----------------+

In [7]:
%%sql
SELECT SUM(quantity) AS quantity_of_electronics FROM products
WHERE category='Electronics' AND price > 20000;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+-------------------------+
| quantity_of_electronics |
+-------------------------+
|            47           |
+-------------------------+

In [8]:
%%sql
SELECT COUNT(*) AS total_products FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| total_products |
+----------------+
|       10       |
+----------------+

In [9]:
%%sql
SELECT COUNT(*) AS total_products FROM products
WHERE product_name LIKE '%phone%';

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| total_products |
+----------------+
|       2        |
+----------------+

In [10]:
%%sql
SELECT AVG(price) AS average_price FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------------+
|   average_price    |
+--------------------+
| 18350.374000000000 |
+--------------------+

In [12]:
%%sql
SELECT AVG(price) AS average_price FROM products
WHERE category='Accessories' OR added_date > '2024-02-01';

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------------+
|   average_price    |
+--------------------+
| 18350.374000000000 |
+--------------------+

In [13]:
%%sql
SELECT MAX(price) AS max_price, MIN(price) as min_price FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+-----------+-----------+
| max_price | min_price |
+-----------+-----------+
|  70000.50 |   750.00  |
+-----------+-----------+

#### String Functions

| Function    | Description                          | Example                                          | Result       |
|-------------|--------------------------------------|--------------------------------------------------|--------------|
| UPPER()     | Converts text to uppercase           | SELECT UPPER('hello');                           | HELLO        |
| LOWER()     | Converts text to lowercase           | SELECT LOWER('HELLO');                           | hello        |
| LENGTH()    | Returns the length of a string       | SELECT LENGTH('SQL Query');                      | 9            |
| CONCAT()    | Concatenates two or more strings     | SELECT CONCAT('Hello', 'World');                 | Hellow World |
| SUBSTRING() | Extracts a portion of a string       | SELECT SUBSTRING('PostgreSQL', 1, 4);            | Post         |
| TRIM()      | Removes leading/trailing spaces      | SELECT TRIM(' S QL ');                           | S QL         |
| REPLACE()   | Replaces occurrences of a substring  | SELECT REPLACE('SQL Query', 'Query', 'Command'); | SQL Command  |

In [14]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [15]:
%%sql
SELECT UPPER(category) as CATEGORY_CAPITAL from products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------------+
| category_capital |
+------------------+
|   ELECTRONICS    |
|   ELECTRONICS    |
|   ACCESSORIES    |
|    FURNITURE     |
|    FURNITURE     |
|   ELECTRONICS    |
|   ELECTRONICS    |
|   ACCESSORIES    |
|   ACCESSORIES    |
|   ELECTRONICS    |
+------------------+
Truncated to displaylimit of 10.

In [16]:
%%sql
SELECT LOWER(category) AS Category_Lower FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+----------------+
| category_lower |
+----------------+
|  electronics   |
|  electronics   |
|  accessories   |
|   furniture    |
|   furniture    |
|  electronics   |
|  electronics   |
|  accessories   |
|  accessories   |
|  electronics   |
+----------------+
Truncated to displaylimit of 10.

In [17]:
%%sql
SELECT CONCAT(product_name, '-', category) AS product_details FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------------------+
|    product_details     |
+------------------------+
|   Laptop-Electronics   |
| Smartphone-Electronics |
| Headphones-Accessories |
| Office Chair-Furniture |
|     Desk-Furniture     |
|  Monitor-Electronics   |
|  Printer-Electronics   |
|   Mouse-Accessories    |
|  Keyboard-Accessories  |
|   Tablet-Electronics   |
+------------------------+
Truncated to displaylimit of 10.

In [18]:
%%sql
SELECT SUBSTRING(product_name, 1, 4) AS SUFFIX FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------+
| suffix |
+--------+
|  Lapt  |
|  Smar  |
|  Head  |
|  Offi  |
|  Desk  |
|  Moni  |
|  Prin  |
|  Mous  |
|  Keyb  |
|  Tabl  |
+--------+
Truncated to displaylimit of 10.

In [20]:
%%sql
SELECT CONCAT(SUBSTRING(product_name, 1, 4), '-', category) AS UUID FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------------+
|       uuid       |
+------------------+
| Lapt-Electronics |
| Smar-Electronics |
| Head-Accessories |
|  Offi-Furniture  |
|  Desk-Furniture  |
| Moni-Electronics |
| Prin-Electronics |
| Mous-Accessories |
| Keyb-Accessories |
| Tabl-Electronics |
+------------------+
Truncated to displaylimit of 10.

In [22]:
%%sql
SELECT product_name, LENGTH(product_name) AS CHAR_COUNT FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+
| product_name | char_count |
+--------------+------------+
|    Laptop    |     6      |
|  Smartphone  |     10     |
|  Headphones  |     10     |
| Office Chair |     12     |
|     Desk     |     4      |
|   Monitor    |     7      |
|   Printer    |     7      |
|    Mouse     |     5      |
|   Keyboard   |     8      |
|    Tablet    |     6      |
+--------------+------------+
Truncated to displaylimit of 10.

In [23]:
%%sql
SELECT TRIM(' Monitor  CRT ') as Trimmed_text;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------+
| trimmed_text |
+--------------+
| Monitor  CRT |
+--------------+

In [24]:
%%sql
SELECT LENGTH(TRIM(' Monitor  CRT ')) as Trimmed_text_count;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------------+
| trimmed_text_count |
+--------------------+
|         12         |
+--------------------+

In [25]:
%%sql
SELECT REPLACE(product_name, 'phone', 'device') AS NewName FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+
|   newname    |
+--------------+
|    Laptop    |
| Smartdevice  |
| Headdevices  |
| Office Chair |
|     Desk     |
|   Monitor    |
|   Printer    |
|    Mouse     |
|   Keyboard   |
|    Tablet    |
+--------------+
Truncated to displaylimit of 10.

In [26]:
%%sql
SELECT LEFT(category, 3) as Category
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+----------+
| category |
+----------+
|   Ele    |
|   Ele    |
|   Acc    |
|   Fur    |
|   Fur    |
|   Ele    |
|   Ele    |
|   Acc    |
|   Acc    |
|   Ele    |
+----------+
Truncated to displaylimit of 10.

In [27]:
%%sql
SELECT RIGHT(category, 3) as Category
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+----------+
| category |
+----------+
|   ics    |
|   ics    |
|   ies    |
|   ure    |
|   ure    |
|   ics    |
|   ics    |
|   ies    |
|   ies    |
|   ics    |
+----------+
Truncated to displaylimit of 10.

In [28]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.