## 5 Types of commands in SQL

- DDL = `Data Definition Language`
- DML = `Data Manuipulation Language`
- TCL = `Transaction Control Language`
- DCL = `Data Control Language`
- DQL = `Data Query Language`

### DDL (Data Definition Language)

DDL commands define, modify and manage database objects like tables, schemas and indexes.

| Command  | Description                                    | Example                                     |
|----------|------------------------------------------------|---------------------------------------------|
| CREATE   | Creates a new database object like a table.    | CREATE TABLE employees (id INT, name TEXT); |
| ALTER    | Modifies the structure of existing objects.    | ALTER TABLE employees ADD COLUMN age INT;   |
| DROP     | Deletes database objects like tables or views. | DROP TABLE employees;                       |
| TRUNCATE | Removes all records from a table quickly.      | TRUNCATE TABLE employees;                   |

### DML (Data Manipulation Language)

DML commands handle data within tables, such as inserting, updating or deleting rows.

| Command | Description                            | Example                                                       |
|---------|----------------------------------------|---------------------------------------------------------------|
| INSERT  | Adds new records to a table.           | INSERT INTO employees (id, name, age) VALUES (1, 'John', 30); |
| UPDATE  | Modifies existing data in a table.     | UPDATE employees SET age = 31 WHERE id = 1;                   |
| DELETE  | Removes specific records from a table. | DELETE FROM employees WHERE id = 1;                           |
| SELECT  | Retrieves data from the database.      | SELECT * FROM employees;                                      |

### TCL (Transaction Control Language)

TCL commands manage database transactions, ensuring data consistency and integrity

| Command   | Description                                     | Example              |
|-----------|-------------------------------------------------|----------------------|
| BEGIN     | Starts a transaction.                           | BEGIN;               |
| COMMIT    | Saves all changes made in the transactions.     | COMMIT;              |
| ROLLBACK  | Reverts changes made in the transaction.        | ROLLBACK;            |
| SAVEPOINT | Sets a point within a transaction for rollback. | SAVEPOINT milestone1 |

### DCL (Data Control Language)

DCL commands control user access and permissions to the database objects.

| Command   | Description                                     | Example                                        |
|-----------|-------------------------------------------------|------------------------------------------------|
| GRANT     | Gives specific permissions to users.            | GRANT SELECT, INSERT ON employees TO user1;    |
| REVOKE    | Removes specific permissions from users.        | REVOKE INSERT, DELETE ON employees FROM user2; |

### DQL (Data Query Language)

DQL focuses on querying data from the database. Though technically **part of DML**, it's often separated to emphasize its importance

| Command   | Description                                     | Example                                        |
|-----------|-------------------------------------------------|------------------------------------------------|
| SELECT    | Retrieves data from one or more tables.         | SELECT name, age FROM employees WHERE id = 2   |

## Note

- Always use `COMMIT` and `ROLLBACK` carefully to avoid unintended changes, especially in critical databases. Practice using `SELECT` frequently to understand your data before making changes with `DML` commands.

# SQL vs NoSQL

| Type  | Definition                                                                           | Databases                                                                                | Engines                                        |
|-------|--------------------------------------------------------------------------------------|------------------------------------------------------------------------------------------|------------------------------------------------|
| SQL   | Data is stored in tables with rows and columns (structured data).                    | Banking system, ERP systems and applications requiring complex queries and transactions. | PostgreSQL, MySQL, Oracle, SQL Server.         |
| NoSQL | Data can be stored as key-value pairs, JSON documents, wide-column stores or graphs. | Social media platforms, IoT data storage, real-time analytics and big data applications. | MongoDB, Redis, Cassandra, Couchbase, ScyllaDB |