In [1]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/company

Connecting to 'postgresql://admin:***@db:5432/company'

| Data Type        | Description                                            | Example Use                |
|------------------|--------------------------------------------------------|----------------------------|
| INTEGER          | Stores whole numbers.                                  | Employee IDs, Age          |
| SERIAL           | Auto-incrementing integer.                             | Primary key auto-increment |
| BIGINT           | Stores large integers.                                 | Population, Large counts   |
| NUMERIC(p, s)    | Stores exact numbers with precision (p) and scale (s). | Financial data (salary)    |
| REAL             | Stores floating-point numbers (single precision).      | Scientific calculation     |
| DOUBLE PRECISION | Stores double-precision floating-point numbers.        | High-precision computation |

## Character Data Types

| Data Type  | Description                                | Example Use               |
|------------|--------------------------------------------|---------------------------|
| CHAR(n)    | Fixed-length string of n characters.       | Employee codes            |
| VARCHAR(n) | Variable-length string up to n characters. | Name, Email and addresses |
| TEXT       | Unlimited-length string.                   | Description or Comments   |

## Date and Time Data Types

| Data Type   | Description                              | Example Use            |
|-------------|------------------------------------------|------------------------|
| DATE        | Stores date (year, month, day)           | Birthdate, Hire date   |
| TIME        | Stores time (hour, minute, second).      | Appointment times      |
| TIMESTAMP   | Stores date and time.                    | Order timestamp        |
| TIMESTAMPTZ | Stores date and time with timezone info. | Global event timestamp |
| INTERVAL    | Stores duration of time.                 | Duration between       |

## Boolean Data Type

| Data Type | Description                 | Example Use          |
|-----------|-----------------------------|----------------------|
| BOOLEAN   | Stores TRUE, FALSE or NULL. | Flags, Active status |

# PostgreSQL Constraints:

In PostgreSQL, constraints are rules enforced on data in tables to ensure accuracy, consistency and integrity. They define conditions that the data must meet and are applied to columns or tables during creation or modification.

- NOT NULL Constraint
- UNIQUE Constraint
- PRIMARY KEY Constraint
- FOREIGN KEY Constraint
- CHECK Constraint
- DEFAULT Constraint
- EXCLUSION Constraint

In [3]:
%%sql
CREATE TABLE students (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(50) UNIQUE,
    age INTEGER CHECK (age >= 18),
    reg_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

Running query in 'postgresql://admin:***@db:5432/company'

++
||
++
++

- PRIMARY KEY = id uniquely identifies each student.
- NOT NULL = name cannot be NULL
- UNIQUE = email must be unique.
- CHECK = age must be 18 or older.
- DEFAULT = reg_date defaults to the current time.

In [5]:
%%sql
INSERT INTO students (id, name, email, age)
VALUES (1, 'Gaurav', 'gaurav.gupta@publicisgroupe.com', 28);

Running query in 'postgresql://admin:***@db:5432/company'

1 rows affected.

++
||
++
++

In [6]:
%%sql
SELECT * FROM students;

Running query in 'postgresql://admin:***@db:5432/company'

1 rows affected.

+----+--------+---------------------------------+-----+----------------------------+
| id |  name  |              email              | age |          reg_date          |
+----+--------+---------------------------------+-----+----------------------------+
| 1  | Gaurav | gaurav.gupta@publicisgroupe.com |  28 | 2026-01-04 16:30:43.065278 |
+----+--------+---------------------------------+-----+----------------------------+

PostgreSQL is hard-fail by default, meaing if some rows are ran and in between some error raises, the previous values will be revert by default, means no row(s) will be inserted