In [20]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/testdb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://admin:***@db:5432/testdb'

In [21]:
%%sql
CREATE DATABASE users;

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

Make sure you have admin privilege before creating any database. Once a database is created, you can check it in the list of databases with the following SQL command: SHOW DATABASES;

In [22]:
# %%sql
# SHOW DATABASES;

In [23]:
%%sql
DROP DATABASE users;
-- DROP DATABASE xyz; -- does not exits

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [26]:
%%sql
CREATE TABLE users (
    id int,
    name varchar(255)
);

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [27]:
%%sql
SELECT * from users;

Running query in 'postgresql://admin:***@db:5432/testdb'

+----+------+
| id | name |
+----+------+
+----+------+