#### Types of functions

In [1]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/testdb

Connecting to 'postgresql://admin:***@db:5432/testdb'

Here is the list of functions in SQL

- Aggregate Functions
- String Functions
- Date and Time Functions
- Mathematical Functions
- Conditional Function
- Window/Analytical Functions

#### Aggregate Functions

| Function | Description                 | Example                              | Result                        |
|----------|-----------------------------|--------------------------------------|-------------------------------|
| COUNT()  | Returns the number of rows  | SELECT COUNT(*) FROM ex_employee;    | Total number of rows          |
| SUM()    | Returns the sum of a column | SELECT SUM(salary) FROM ex_employee; | Total Salary of all employees |
| AVG()    | Returns the average value   | SELECT AVG(salary) FROM ex_employee; | Average salary                |
| MAX()    | Returns the maxnimum value  | SELECT MAX(salary) FROM ex_employee; | Highest salary                |
| MIN()    | Returns the minimum value   | SELECT MIN(salary) FROM ex_employee; | Lowest salary                 |

In [2]:
%%sql
DROP TABLE IF EXISTS products;

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS products (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(100),
    category VARCHAR(50),
    price NUMERIC(10, 2),
    quantity INT,
    added_date DATE,
    discount_rate NUMERIC(5, 2)
);

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [4]:
%%sql
INSERT INTO products (product_name, category, price, quantity, added_date, discount_rate) VALUES
('Laptop', 'Electronics', 70000.50, 10, '2025-01-15', 10.00),
('Smartphone', 'Electronics', 45000.99, 25, '2025-02-20', 5.00),
('Headphones', 'Accessories', 1500.75, 50, '2025-03-05', 15.00),
('Office Chair', 'Furniture', 5500.00, 20, '2024-12-01', 20.00),
('Desk', 'Furniture', 8000, 15, '2024-11-20', 12.00),
('Monitor', 'Electronics', 12000.50, 8, '2025-01-10', 8.00),
('Printer', 'Electronics', 9500.50, 5, '2025-02-01', 7.50),
('Mouse', 'Accessories', 750.00, 40, '2025-03-18', 10.00),
('Keyboard', 'Accessories', 1250.00, 35, '2025-03-18', 10.00),
('Tablet', 'Electronics', 30000.50, 12, '2025-02-28', 5.00);

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

++
||
++
++

In [5]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [6]:
%%sql
SELECT SUM(quantity) AS total_quantity FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| total_quantity |
+----------------+
|      220       |
+----------------+

In [7]:
%%sql
SELECT SUM(quantity) AS quantity_of_electronics FROM products
WHERE category='Electronics' AND price > 20000;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+-------------------------+
| quantity_of_electronics |
+-------------------------+
|            47           |
+-------------------------+

In [8]:
%%sql
SELECT COUNT(*) AS total_products FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| total_products |
+----------------+
|       10       |
+----------------+

In [9]:
%%sql
SELECT COUNT(*) AS total_products FROM products
WHERE product_name LIKE '%phone%';

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| total_products |
+----------------+
|       2        |
+----------------+

In [10]:
%%sql
SELECT AVG(price) AS average_price FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------------+
|   average_price    |
+--------------------+
| 18350.374000000000 |
+--------------------+

In [11]:
%%sql
SELECT AVG(price) AS average_price FROM products
WHERE category='Accessories' OR added_date > '2024-02-01';

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------------+
|   average_price    |
+--------------------+
| 18350.374000000000 |
+--------------------+

In [12]:
%%sql
SELECT MAX(price) AS max_price, MIN(price) as min_price FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+-----------+-----------+
| max_price | min_price |
+-----------+-----------+
|  70000.50 |   750.00  |
+-----------+-----------+

#### String Functions

| Function    | Description                          | Example                                          | Result       |
|-------------|--------------------------------------|--------------------------------------------------|--------------|
| UPPER()     | Converts text to uppercase           | SELECT UPPER('hello');                           | HELLO        |
| LOWER()     | Converts text to lowercase           | SELECT LOWER('HELLO');                           | hello        |
| LENGTH()    | Returns the length of a string       | SELECT LENGTH('SQL Query');                      | 9            |
| CONCAT()    | Concatenates two or more strings     | SELECT CONCAT('Hello', 'World');                 | Hellow World |
| SUBSTRING() | Extracts a portion of a string       | SELECT SUBSTRING('PostgreSQL', 1, 4);            | Post         |
| TRIM()      | Removes leading/trailing spaces      | SELECT TRIM(' S QL ');                           | S QL         |
| REPLACE()   | Replaces occurrences of a substring  | SELECT REPLACE('SQL Query', 'Query', 'Command'); | SQL Command  |

In [13]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [14]:
%%sql
SELECT UPPER(category) as CATEGORY_CAPITAL from products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------------+
| category_capital |
+------------------+
|   ELECTRONICS    |
|   ELECTRONICS    |
|   ACCESSORIES    |
|    FURNITURE     |
|    FURNITURE     |
|   ELECTRONICS    |
|   ELECTRONICS    |
|   ACCESSORIES    |
|   ACCESSORIES    |
|   ELECTRONICS    |
+------------------+
Truncated to displaylimit of 10.

In [15]:
%%sql
SELECT LOWER(category) AS Category_Lower FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+----------------+
| category_lower |
+----------------+
|  electronics   |
|  electronics   |
|  accessories   |
|   furniture    |
|   furniture    |
|  electronics   |
|  electronics   |
|  accessories   |
|  accessories   |
|  electronics   |
+----------------+
Truncated to displaylimit of 10.

In [16]:
%%sql
SELECT CONCAT(product_name, '-', category) AS product_details FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------------------+
|    product_details     |
+------------------------+
|   Laptop-Electronics   |
| Smartphone-Electronics |
| Headphones-Accessories |
| Office Chair-Furniture |
|     Desk-Furniture     |
|  Monitor-Electronics   |
|  Printer-Electronics   |
|   Mouse-Accessories    |
|  Keyboard-Accessories  |
|   Tablet-Electronics   |
+------------------------+
Truncated to displaylimit of 10.

In [17]:
%%sql
SELECT SUBSTRING(product_name, 1, 4) AS SUFFIX FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------+
| suffix |
+--------+
|  Lapt  |
|  Smar  |
|  Head  |
|  Offi  |
|  Desk  |
|  Moni  |
|  Prin  |
|  Mous  |
|  Keyb  |
|  Tabl  |
+--------+
Truncated to displaylimit of 10.

In [18]:
%%sql
SELECT CONCAT(SUBSTRING(product_name, 1, 4), '-', category) AS UUID FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------------+
|       uuid       |
+------------------+
| Lapt-Electronics |
| Smar-Electronics |
| Head-Accessories |
|  Offi-Furniture  |
|  Desk-Furniture  |
| Moni-Electronics |
| Prin-Electronics |
| Mous-Accessories |
| Keyb-Accessories |
| Tabl-Electronics |
+------------------+
Truncated to displaylimit of 10.

In [19]:
%%sql
SELECT product_name, LENGTH(product_name) AS CHAR_COUNT FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+
| product_name | char_count |
+--------------+------------+
|    Laptop    |     6      |
|  Smartphone  |     10     |
|  Headphones  |     10     |
| Office Chair |     12     |
|     Desk     |     4      |
|   Monitor    |     7      |
|   Printer    |     7      |
|    Mouse     |     5      |
|   Keyboard   |     8      |
|    Tablet    |     6      |
+--------------+------------+
Truncated to displaylimit of 10.

In [20]:
%%sql
SELECT TRIM(' Monitor  CRT ') as Trimmed_text;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------+
| trimmed_text |
+--------------+
| Monitor  CRT |
+--------------+

In [21]:
%%sql
SELECT LENGTH(TRIM(' Monitor  CRT ')) as Trimmed_text_count;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+--------------------+
| trimmed_text_count |
+--------------------+
|         12         |
+--------------------+

In [22]:
%%sql
SELECT REPLACE(product_name, 'phone', 'device') AS NewName FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+
|   newname    |
+--------------+
|    Laptop    |
| Smartdevice  |
| Headdevices  |
| Office Chair |
|     Desk     |
|   Monitor    |
|   Printer    |
|    Mouse     |
|   Keyboard   |
|    Tablet    |
+--------------+
Truncated to displaylimit of 10.

In [23]:
%%sql
SELECT LEFT(category, 3) as Category
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+----------+
| category |
+----------+
|   Ele    |
|   Ele    |
|   Acc    |
|   Fur    |
|   Fur    |
|   Ele    |
|   Ele    |
|   Acc    |
|   Acc    |
|   Ele    |
+----------+
Truncated to displaylimit of 10.

In [24]:
%%sql
SELECT RIGHT(category, 3) as Category
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+----------+
| category |
+----------+
|   ics    |
|   ics    |
|   ies    |
|   ure    |
|   ure    |
|   ics    |
|   ics    |
|   ies    |
|   ies    |
|   ics    |
+----------+
Truncated to displaylimit of 10.

In [25]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

#### Date and Time Functions

| Function       | Description                          | Example                           | Result                        |
|----------------|--------------------------------------|-----------------------------------|-------------------------------|
| NOW()          | Returns the current date and time    | SELECT NOW();                     | Current date and time         |
| CURRENT_DATE() | Returns the current date             | SELECT CURRENT_DATE;              | Current date                  |
| CURRENT_TIME() | Returns the current time             | SELECT CURRENT_TIME;              | Current time                  |
| DATE_PART()    | Extracts a part of the date          | SELECT DATE_PART('year', NOW());  | Current year                  |
| AGE()          | Returns the age between two dates    | SELECT AGE('2024-11-28');         | Time difference from the date |
| EXTRACT()      | Extracts a specific part of the date | SELECT EXTRACT(MONTH FROM NOW()); | Current month                 |

In [27]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [28]:
%%sql
SELECT NOW() as CURRENT_DATETIME;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------------------------+
|         current_datetime         |
+----------------------------------+
| 2026-01-12 17:12:09.895016+00:00 |
+----------------------------------+

In [29]:
%%sql
SELECT CURRENT_DATE AS today_date;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+------------+
| today_date |
+------------+
| 2026-01-12 |
+------------+

In [34]:
%%sql
SELECT added_date, CURRENT_DATE, (CURRENT_DATE - added_date) AS days_difference 
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-----------------+
| added_date | current_date | days_difference |
+------------+--------------+-----------------+
| 2025-01-15 |  2026-01-12  |       362       |
| 2025-02-20 |  2026-01-12  |       326       |
| 2025-03-05 |  2026-01-12  |       313       |
| 2024-12-01 |  2026-01-12  |       407       |
| 2024-11-20 |  2026-01-12  |       418       |
| 2025-01-10 |  2026-01-12  |       367       |
| 2025-02-01 |  2026-01-12  |       345       |
| 2025-03-18 |  2026-01-12  |       300       |
| 2025-03-18 |  2026-01-12  |       300       |
| 2025-02-28 |  2026-01-12  |       318       |
+------------+--------------+-----------------+
Truncated to displaylimit of 10.

In [38]:
%%sql
SELECT product_name, 
    EXTRACT(YEAR FROM added_date) as Year_added, 
    EXTRACT(MONTH FROM added_date) as Month_added 
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+-------------+
| product_name | year_added | month_added |
+--------------+------------+-------------+
|    Laptop    |    2025    |      1      |
|  Smartphone  |    2025    |      2      |
|  Headphones  |    2025    |      3      |
| Office Chair |    2024    |      12     |
|     Desk     |    2024    |      11     |
|   Monitor    |    2025    |      1      |
|   Printer    |    2025    |      2      |
|    Mouse     |    2025    |      3      |
|   Keyboard   |    2025    |      3      |
|    Tablet    |    2025    |      2      |
+--------------+------------+-------------+
Truncated to displaylimit of 10.

In [39]:
%%sql
SELECT product_name,
    AGE(CURRENT_DATE, added_date) AS Age_since_added
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------------+
| product_name |  age_since_added  |
+--------------+-------------------+
|    Laptop    | 358 days, 0:00:00 |
|  Smartphone  | 320 days, 0:00:00 |
|  Headphones  | 307 days, 0:00:00 |
| Office Chair | 406 days, 0:00:00 |
|     Desk     | 417 days, 0:00:00 |
|   Monitor    | 367 days, 0:00:00 |
|   Printer    | 341 days, 0:00:00 |
|    Mouse     | 295 days, 0:00:00 |
|   Keyboard   | 295 days, 0:00:00 |
|    Tablet    | 312 days, 0:00:00 |
+--------------+-------------------+
Truncated to displaylimit of 10.

In [40]:
%%sql
SELECT product_name,
    TO_CHAR(added_date, 'DD-MM-YYYY') AS Formated_date
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+---------------+
| product_name | formated_date |
+--------------+---------------+
|    Laptop    |   15-01-2025  |
|  Smartphone  |   20-02-2025  |
|  Headphones  |   05-03-2025  |
| Office Chair |   01-12-2024  |
|     Desk     |   20-11-2024  |
|   Monitor    |   10-01-2025  |
|   Printer    |   01-02-2025  |
|    Mouse     |   18-03-2025  |
|   Keyboard   |   18-03-2025  |
|    Tablet    |   28-02-2025  |
+--------------+---------------+
Truncated to displaylimit of 10.

In [41]:
%%sql
SELECT product_name, added_date,
    DATE_PART('dow', added_date) AS day_of_week
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+-------------+
| product_name | added_date | day_of_week |
+--------------+------------+-------------+
|    Laptop    | 2025-01-15 |     3.0     |
|  Smartphone  | 2025-02-20 |     4.0     |
|  Headphones  | 2025-03-05 |     3.0     |
| Office Chair | 2024-12-01 |     0.0     |
|     Desk     | 2024-11-20 |     3.0     |
|   Monitor    | 2025-01-10 |     5.0     |
|   Printer    | 2025-02-01 |     6.0     |
|    Mouse     | 2025-03-18 |     2.0     |
|   Keyboard   | 2025-03-18 |     2.0     |
|    Tablet    | 2025-02-28 |     5.0     |
+--------------+------------+-------------+
Truncated to displaylimit of 10.

In [45]:
%%sql
SELECT product_name, added_date,
    DATE_PART('year', added_date) AS day_of_week
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+-------------+
| product_name | added_date | day_of_week |
+--------------+------------+-------------+
|    Laptop    | 2025-01-15 |    2025.0   |
|  Smartphone  | 2025-02-20 |    2025.0   |
|  Headphones  | 2025-03-05 |    2025.0   |
| Office Chair | 2024-12-01 |    2024.0   |
|     Desk     | 2024-11-20 |    2024.0   |
|   Monitor    | 2025-01-10 |    2025.0   |
|   Printer    | 2025-02-01 |    2025.0   |
|    Mouse     | 2025-03-18 |    2025.0   |
|   Keyboard   | 2025-03-18 |    2025.0   |
|    Tablet    | 2025-02-28 |    2025.0   |
+--------------+------------+-------------+
Truncated to displaylimit of 10.

In [52]:
%%sql
SELECT product_name, added_date,
    DATE_TRUNC('week', added_date) AS Week_start,
    DATE_PART('isodow', added_date) AS Day_of_week
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+---------------------------+-------------+
| product_name | added_date |         week_start        | day_of_week |
+--------------+------------+---------------------------+-------------+
|    Laptop    | 2025-01-15 | 2025-01-13 00:00:00+00:00 |     3.0     |
|  Smartphone  | 2025-02-20 | 2025-02-17 00:00:00+00:00 |     4.0     |
|  Headphones  | 2025-03-05 | 2025-03-03 00:00:00+00:00 |     3.0     |
| Office Chair | 2024-12-01 | 2024-11-25 00:00:00+00:00 |     7.0     |
|     Desk     | 2024-11-20 | 2024-11-18 00:00:00+00:00 |     3.0     |
|   Monitor    | 2025-01-10 | 2025-01-06 00:00:00+00:00 |     5.0     |
|   Printer    | 2025-02-01 | 2025-01-27 00:00:00+00:00 |     6.0     |
|    Mouse     | 2025-03-18 | 2025-03-17 00:00:00+00:00 |     2.0     |
|   Keyboard   | 2025-03-18 | 2025-03-17 00:00:00+00:00 |     2.0     |
|    Tablet    | 2025-02-28 | 2025-02-24 00:00:00+00:00 |     5.0     |
+--------------+------------+---------------------------+-------------+
Truncated to displaylimit of 10.

In [56]:
%%sql
SELECT product_name, added_date, added_date + INTERVAL '6 months' AS new_date
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+------------+---------------------+
| product_name | added_date |       new_date      |
+--------------+------------+---------------------+
|    Laptop    | 2025-01-15 | 2025-07-15 00:00:00 |
|  Smartphone  | 2025-02-20 | 2025-08-20 00:00:00 |
|  Headphones  | 2025-03-05 | 2025-09-05 00:00:00 |
| Office Chair | 2024-12-01 | 2025-06-01 00:00:00 |
|     Desk     | 2024-11-20 | 2025-05-20 00:00:00 |
|   Monitor    | 2025-01-10 | 2025-07-10 00:00:00 |
|   Printer    | 2025-02-01 | 2025-08-01 00:00:00 |
|    Mouse     | 2025-03-18 | 2025-09-18 00:00:00 |
|   Keyboard   | 2025-03-18 | 2025-09-18 00:00:00 |
|    Tablet    | 2025-02-28 | 2025-08-28 00:00:00 |
+--------------+------------+---------------------+
Truncated to displaylimit of 10.

In [60]:
%%sql
SELECT CURRENT_TIME AS Current_time;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+-----------------------+
|      current_time     |
+-----------------------+
| 17:27:21.560185+00:00 |
+-----------------------+

In [61]:
%%sql
SELECT TO_DATE('28-11-2024', 'DD-MM-YYYY') AS Converted_date;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

+----------------+
| converted_date |
+----------------+
|   2024-11-28   |
+----------------+

#### Conditional Function

| Function   | Description                      | Example                                                                    | Result                   |
|------------|----------------------------------|----------------------------------------------------------------------------|--------------------------|
| CASE       | Returns value based on condition | SELECT CASE WHEN salary > 50000 THEN 'High' ELSE 'Low' END FROM employees; | High/Low based on salary |
| COALESCE() | Returns the first non-NULL value | SELECT COALESCE(NULL, 'Default', 'Value');                                 | Default                  |

In [62]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [63]:
%%sql
SELECT product_name, price,
    CASE
        WHEN price >= 50000 THEN 'Expensive'
        WHEN price >= 10000 AND price < 50000 THEN 'Moderate'
        ELSE 'Affordable'
    END AS price_categories
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+----------+------------------+
| product_name |  price   | price_categories |
+--------------+----------+------------------+
|    Laptop    | 70000.50 |    Expensive     |
|  Smartphone  | 45000.99 |     Moderate     |
|  Headphones  | 1500.75  |    Affordable    |
| Office Chair | 5500.00  |    Affordable    |
|     Desk     | 8000.00  |    Affordable    |
|   Monitor    | 12000.50 |     Moderate     |
|   Printer    | 9500.50  |    Affordable    |
|    Mouse     |  750.00  |    Affordable    |
|   Keyboard   | 1250.00  |    Affordable    |
|    Tablet    | 30000.50 |     Moderate     |
+--------------+----------+------------------+
Truncated to displaylimit of 10.

### Assignment on Case Functions

1. "In Stock" if quantity is 10 or more.
2. "Limited Stock" if quantity is between 5 and 9.
3. "Out of Stock Soon" if quantity is less than 5.

In [76]:
%%sql
SELECT product_name, quantity,
    CASE
        WHEN quantity >= 10 THEN 'In Stock'
        WHEN quantity BETWEEN 6 AND 9 THEN 'Limited Stock'
        ELSE 'Out of Stock Soon'
    END AS stock_status
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+----------+-------------------+
| product_name | quantity |    stock_status   |
+--------------+----------+-------------------+
|    Laptop    |    10    |      In Stock     |
|  Smartphone  |    25    |      In Stock     |
|  Headphones  |    50    |      In Stock     |
| Office Chair |    20    |      In Stock     |
|     Desk     |    15    |      In Stock     |
|   Monitor    |    8     |   Limited Stock   |
|   Printer    |    5     | Out of Stock Soon |
|    Mouse     |    40    |      In Stock     |
|   Keyboard   |    35    |      In Stock     |
|    Tablet    |    12    |      In Stock     |
+--------------+----------+-------------------+
Truncated to displaylimit of 10.

Another One:

Check if the category name contains "Electronics Item" or "Furniture Item" or "Accessory" item using LIKE

In [77]:
%%sql
SELECT product_name, category,
    CASE
        WHEN category LIKE '%Electronics%' THEN 'Electronic Item'
        WHEN category LIKE '%Furniture%' THEN 'Furniture Item'
        WHEN category LIKE '%Accessories%' THEN 'Accessory Item'
    END AS category_type
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+-----------------+
| product_name |   category  |  category_type  |
+--------------+-------------+-----------------+
|    Laptop    | Electronics | Electronic Item |
|  Smartphone  | Electronics | Electronic Item |
|  Headphones  | Accessories |  Accessory Item |
| Office Chair |  Furniture  |  Furniture Item |
|     Desk     |  Furniture  |  Furniture Item |
|   Monitor    | Electronics | Electronic Item |
|   Printer    | Electronics | Electronic Item |
|    Mouse     | Accessories |  Accessory Item |
|   Keyboard   | Accessories |  Accessory Item |
|    Tablet    | Electronics | Electronic Item |
+--------------+-------------+-----------------+
Truncated to displaylimit of 10.

In [78]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate |
+------------+--------------+-------------+----------+----------+------------+---------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+
Truncated to displaylimit of 10.

In [95]:
%%sql
ALTER TABLE products
DROP COLUMN IF EXISTS discount_price;

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [96]:
%%sql
ALTER TABLE products
ADD COLUMN discount_price NUMERIC(10, 2);

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [97]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate | discount_price |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |      None      |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |      None      |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |      None      |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |      None      |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |      None      |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |      None      |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |      None      |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |      None      |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |      None      |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |      None      |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
Truncated to displaylimit of 10.

In [98]:
%%sql
UPDATE products
SET discount_price = NULL
WHERE product_name in ('Laptop', 'Desk');

Running query in 'postgresql://admin:***@db:5432/testdb'

2 rows affected.

++
||
++
++

In [99]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate | discount_price |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |      None      |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |      None      |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |      None      |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |      None      |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |      None      |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |      None      |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |      None      |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |      None      |
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |      None      |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |      None      |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
Truncated to displaylimit of 10.

In [100]:
%%sql
UPDATE products
SET discount_price = price-price*(discount_rate/100)
WHERE product_name NOT IN ('Laptop', 'Desk');

Running query in 'postgresql://admin:***@db:5432/testdb'

8 rows affected.

++
||
++
++

In [101]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate | discount_price |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |      None      |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |      None      |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |    42750.94    |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |    1275.64     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |    4400.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |    11040.46    |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |    8787.96     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |     675.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |    1125.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |    28500.48    |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
Truncated to displaylimit of 10.

In [102]:
%%sql
SELECT product_name, price, discount_price
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+----------+----------------+
| product_name |  price   | discount_price |
+--------------+----------+----------------+
|    Laptop    | 70000.50 |      None      |
|     Desk     | 8000.00  |      None      |
|  Smartphone  | 45000.99 |    42750.94    |
|  Headphones  | 1500.75  |    1275.64     |
| Office Chair | 5500.00  |    4400.00     |
|   Monitor    | 12000.50 |    11040.46    |
|   Printer    | 9500.50  |    8787.96     |
|    Mouse     |  750.00  |     675.00     |
|   Keyboard   | 1250.00  |    1125.00     |
|    Tablet    | 30000.50 |    28500.48    |
+--------------+----------+----------------+
Truncated to displaylimit of 10.

In [103]:
%%sql
SELECT product_name,
    COALESCE(discount_price, price) AS final_price
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+
| product_name | final_price |
+--------------+-------------+
|    Laptop    |   70000.50  |
|     Desk     |   8000.00   |
|  Smartphone  |   42750.94  |
|  Headphones  |   1275.64   |
| Office Chair |   4400.00   |
|   Monitor    |   11040.46  |
|   Printer    |   8787.96   |
|    Mouse     |    675.00   |
|   Keyboard   |   1125.00   |
|    Tablet    |   28500.48  |
+--------------+-------------+
Truncated to displaylimit of 10.

In [104]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate | discount_price |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |      None      |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |      None      |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |    42750.94    |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |    1275.64     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |    4400.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |    11040.46    |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |    8787.96     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |     675.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |    1125.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |    28500.48    |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
Truncated to displaylimit of 10.

#### Window Function

**Window functions** perform calculations across a set of table rows related to the current row. They are useful for ranking calculating running totals, percentages and much more.

In [105]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate | discount_price |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |      None      |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |      None      |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |    42750.94    |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |    1275.64     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |    4400.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |    11040.46    |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |    8787.96     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |     675.00     |
|     9      |   Keyboard   | Accessories | 1250.00  |    35    | 2025-03-18 |     10.00     |    1125.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |    28500.48    |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
Truncated to displaylimit of 10.

In [106]:
%%sql
SELECT product_name, category, price,
    ROW_NUMBER() OVER(PARTITION BY category ORDER By price DESC) AS row_number
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+----------+------------+
| product_name |   category  |  price   | row_number |
+--------------+-------------+----------+------------+
|  Headphones  | Accessories | 1500.75  |     1      |
|   Keyboard   | Accessories | 1250.00  |     2      |
|    Mouse     | Accessories |  750.00  |     3      |
|    Laptop    | Electronics | 70000.50 |     1      |
|  Smartphone  | Electronics | 45000.99 |     2      |
|    Tablet    | Electronics | 30000.50 |     3      |
|   Monitor    | Electronics | 12000.50 |     4      |
|   Printer    | Electronics | 9500.50  |     5      |
|     Desk     |  Furniture  | 8000.00  |     1      |
| Office Chair |  Furniture  | 5500.00  |     2      |
+--------------+-------------+----------+------------+
Truncated to displaylimit of 10.

In [107]:
%%sql
SELECT product_name, category, price,
    DENSE_RANK() OVER(PARTITION BY category ORDER By price DESC) AS ranking
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+----------+---------+
| product_name |   category  |  price   | ranking |
+--------------+-------------+----------+---------+
|  Headphones  | Accessories | 1500.75  |    1    |
|   Keyboard   | Accessories | 1250.00  |    2    |
|    Mouse     | Accessories |  750.00  |    3    |
|    Laptop    | Electronics | 70000.50 |    1    |
|  Smartphone  | Electronics | 45000.99 |    2    |
|    Tablet    | Electronics | 30000.50 |    3    |
|   Monitor    | Electronics | 12000.50 |    4    |
|   Printer    | Electronics | 9500.50  |    5    |
|     Desk     |  Furniture  | 8000.00  |    1    |
| Office Chair |  Furniture  | 5500.00  |    2    |
+--------------+-------------+----------+---------+
Truncated to displaylimit of 10.

In [108]:
%%sql
SELECT product_name, category, price,
    RANK() OVER(PARTITION BY category ORDER By price DESC) AS row_number
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+----------+------------+
| product_name |   category  |  price   | row_number |
+--------------+-------------+----------+------------+
|  Headphones  | Accessories | 1500.75  |     1      |
|   Keyboard   | Accessories | 1250.00  |     2      |
|    Mouse     | Accessories |  750.00  |     3      |
|    Laptop    | Electronics | 70000.50 |     1      |
|  Smartphone  | Electronics | 45000.99 |     2      |
|    Tablet    | Electronics | 30000.50 |     3      |
|   Monitor    | Electronics | 12000.50 |     4      |
|   Printer    | Electronics | 9500.50  |     5      |
|     Desk     |  Furniture  | 8000.00  |     1      |
| Office Chair |  Furniture  | 5500.00  |     2      |
+--------------+-------------+----------+------------+
Truncated to displaylimit of 10.

In [109]:
%%sql
UPDATE products
SET price = 1500.75
WHERE price = 1250.00;

Running query in 'postgresql://admin:***@db:5432/testdb'

1 rows affected.

++
||
++
++

In [110]:
%%sql
SELECT * FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
| product_id | product_name |   category  |  price   | quantity | added_date | discount_rate | discount_price |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
|     1      |    Laptop    | Electronics | 70000.50 |    10    | 2025-01-15 |     10.00     |      None      |
|     5      |     Desk     |  Furniture  | 8000.00  |    15    | 2024-11-20 |     12.00     |      None      |
|     2      |  Smartphone  | Electronics | 45000.99 |    25    | 2025-02-20 |      5.00     |    42750.94    |
|     3      |  Headphones  | Accessories | 1500.75  |    50    | 2025-03-05 |     15.00     |    1275.64     |
|     4      | Office Chair |  Furniture  | 5500.00  |    20    | 2024-12-01 |     20.00     |    4400.00     |
|     6      |   Monitor    | Electronics | 12000.50 |    8     | 2025-01-10 |      8.00     |    11040.46    |
|     7      |   Printer    | Electronics | 9500.50  |    5     | 2025-02-01 |      7.50     |    8787.96     |
|     8      |    Mouse     | Accessories |  750.00  |    40    | 2025-03-18 |     10.00     |     675.00     |
|     10     |    Tablet    | Electronics | 30000.50 |    12    | 2025-02-28 |      5.00     |    28500.48    |
|     9      |   Keyboard   | Accessories | 1500.75  |    35    | 2025-03-18 |     10.00     |    1125.00     |
+------------+--------------+-------------+----------+----------+------------+---------------+----------------+
Truncated to displaylimit of 10.

In [112]:
%%sql
SELECT product_name, category, price,
    RANK() OVER(PARTITION BY category ORDER By price DESC) AS row_number
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+----------+------------+
| product_name |   category  |  price   | row_number |
+--------------+-------------+----------+------------+
|  Headphones  | Accessories | 1500.75  |     1      |
|   Keyboard   | Accessories | 1500.75  |     1      |
|    Mouse     | Accessories |  750.00  |     3      |
|    Laptop    | Electronics | 70000.50 |     1      |
|  Smartphone  | Electronics | 45000.99 |     2      |
|    Tablet    | Electronics | 30000.50 |     3      |
|   Monitor    | Electronics | 12000.50 |     4      |
|   Printer    | Electronics | 9500.50  |     5      |
|     Desk     |  Furniture  | 8000.00  |     1      |
| Office Chair |  Furniture  | 5500.00  |     2      |
+--------------+-------------+----------+------------+
Truncated to displaylimit of 10.

In [113]:
%%sql
SELECT product_name, category, price,
    SUM(price) OVER(PARTITION BY category ORDER By price DESC) AS running_table
FROM products;

Running query in 'postgresql://admin:***@db:5432/testdb'

10 rows affected.

+--------------+-------------+----------+---------------+
| product_name |   category  |  price   | running_table |
+--------------+-------------+----------+---------------+
|  Headphones  | Accessories | 1500.75  |    3001.50    |
|   Keyboard   | Accessories | 1500.75  |    3001.50    |
|    Mouse     | Accessories |  750.00  |    3751.50    |
|    Laptop    | Electronics | 70000.50 |    70000.50   |
|  Smartphone  | Electronics | 45000.99 |   115001.49   |
|    Tablet    | Electronics | 30000.50 |   145001.99   |
|   Monitor    | Electronics | 12000.50 |   157002.49   |
|   Printer    | Electronics | 9500.50  |   166502.99   |
|     Desk     |  Furniture  | 8000.00  |    8000.00    |
| Office Chair |  Furniture  | 5500.00  |    13500.00   |
+--------------+-------------+----------+---------------+
Truncated to displaylimit of 10.