In [2]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/testdb

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting to 'postgresql://admin:***@db:5432/testdb'

In [3]:
%%sql
CREATE DATABASE company;

Running query in 'postgresql://admin:***@db:5432/testdb'

++
||
++
++

In [4]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/company

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://admin:***@db:5432/company'

In [5]:
%%sql
CREATE TABLE employee(
    id SERIAL primary key,
    name VARCHAR(100) NOT NULL,
    postiion VARCHAR(50), -- can be blank
    department VARCHAR(50),
    hire_date DATE,
    salary NUMERIC(10, 2) -- 2 decimal places
);

Running query in 'postgresql://admin:***@db:5432/company'

++
||
++
++

In [6]:
%%sql
SELECT * FROM employee;

Running query in 'postgresql://admin:***@db:5432/company'

+----+------+----------+------------+-----------+--------+
| id | name | postiion | department | hire_date | salary |
+----+------+----------+------------+-----------+--------+
+----+------+----------+------------+-----------+--------+