In [ ]:
%load_ext sql
%sql postgresql://admin:admin@db:5432/testdb

In [ ]:
%%sql
CREATE TABLE users (id SERIAL PRIMARY KEY, name TEXT);
INSERT INTO users (name) VALUES ('Alice'), ('Bob');
SELECT * FROM users;